#text{
	font-weight: bold;
	font-size: 3vw;
	margin-left: 30px;
}
#text1{
	font-weight: normal;
	font-size: 2vw;
	margin-left: 30px;
}
#text2{
	font-weight: normal;
	font-size: 1vw;
	margin-left: 30px;	
}
#foto2{
	margin-left: 70px;
}
#tombol{
	margin-top: 20px;
}
#menu{
	margin-top: 20px;
	margin-left: 30px;
	margin-bottom: 20px;
}
#foto{
	margin-left: 40px;
}
#butpsn{
	margin-top: 20px;
	margin-left: 600px;
}
#judul{
	font-weight: bold;
	font-size: 3vw;
}
.images{
	height: 30px;
	width: 50px;
}

.isi-f-size {
	font-size: 30px;
}