.first{
    padding: 20px;
    }
.menu{
    background-color: white;
    border :2px solid #FEBF32;
    color: #FEBF32;
    border-radius: 10%;
    width: 110px;
    height: 43px;
    cursor: pointer;
}
.antrian{
    background-color: #FEBF32;
    color: white;
    border-radius: 10%;
    width: 110px;
    height: 45px;
    cursor: pointer;
    border : 2px solid #FEBF32;
}
.second{
    text-align: center;
}
.edit{
    background-color: #FEBF32;
    color: white;
    cursor: pointer;
    width: 110px;
    height: 45px;
    border: 2px solid #FEBF32;
    border-radius: 10%;
    margin-top: 600px;
    margin-left: 1300px;
}
#judul{
    color: #FEBF32;
    font-size: 90px;
}
#submit{
    color: white;
}