{% extends 'base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>

<html lang="en">


<head>
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <title> Antrian </title>
</head>

<body>
    <div class="first">
        <div class="row">
            <div class="col-4">
                <button type="button" class="menu"> Menu </button>
                <button type="button" class="antrian"> Antrian </button>
            </div>
        </div>
    </div>

    <div class="second">
        <div class="row">
            <div class="col-12 text-center">
                <table border="0">
                    <thead>     </thead>
                    <tbody>
                    	{% for antrian in order %}
                        <div class="col-sm-4 text-center">
                            <tr>
                            <th scope="row">{{forloop.counter}}</th>
                            <td> {{antrian.pemesan}} </td>
                            <td> {{antrian.pesanan}} </td>
                            <!-- <td> {{antrian.jumlah}} </td> -->
                        </div>
                        {% endfor %}
        
                            </tr>
                     </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="third">
        <div class="row">
            <div class="col-12">
                <button type="button" class="edit" onclick="window.location.href='create/'" /> Edit </button>
            </div>
        </div>
    </div>
</body>
</html>

{% endblock %}

