{% extends 'base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>

<html lang="en">

<head>
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <title> Edit </title>
</head>


<div class="schedule">
    <p class="font text-center" id="judul">Edit Antrian</p>
    <form action="{% url 'antrian_create' %}" method="post">
        {% csrf_token %}
        <div class="form-row">
                    <div class="col-sm-1"></div>
                        <div class="form-group col-sm-10">
                            {% for fields in form %}
                                {{ fields.label_tag }}
                                    <br>
                                {{ fields }}
                            {% endfor %}
                        </div>
                    </div>
                <div class="form-row">
            <div class="col-sm-1"></div>
        <input id="submit"type="submit" class="btn btn-warning float-right" value="Submit">
    </form>  
</body>       
</div>
</body>

</html>

{% endblock %}
