{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="row p-4">
    <div class = "col-md-12">
        <h1 id="judul">Ayam Penyet Strike</h1>
        <h2 id="text1">Spesialis Ayam Penyet</h2>
        <h2 id="text2">Jalan Akses UI No. 32 Depok, Jawa Barat</h2>
   </div>
</div>

<div class="row p-4">
    <div class="col-md-4">
        <img id="foto" src="{% static 'image/ayam-rica-rica.jpg' %}" width="300" height="200">
    </div>
    <div class="col-md-4">
        <img id="foto2" src="{% static 'image/ayam-goreng-mentega.jpg' %}" width="300" height="200">
    </div>
    <div class="col-md-4">
        <img align="left" src="{% static 'image/ayam-bakar-taliwang.jpg' %}" width="300" height="200">
    </div>
</div>
 
<div class="row p-4" id="menu">
    <div class="col-md-1 btn-group btn-group-toggle" data-toggle="buttons">
        <label class=" btn btn-warning active">
            <input type="radio" name="options" id="option1">Menu</input>
        </label>
        <label class="btn btn-default active">
            <input type="radio" name="options" id="option2">Antrian</input>
        </label>
    </div>
</div>

<a href="{% url 'menu:menumakan' %}"></a>
<div class="d-flex justify-content-center w-100 row text-center">
    <h1 id="judul">MENU</h1>
</div>
<div class="col-md-12 text-center">
    {% if menus %}
    <form action="" method="POST">
    <table style="font-size: 30px" cellpadding="70" border="0">
        <thead>
            <th style=" padding-top: 40px;padding-bottom: 0px">Name</th>
            <th style=" padding-top: 40px; padding-bottom: 0px">Price</th>
        </thead>
        <tbody>
                {% csrf_token %}
                {% for menumakan in menus %}
                <div class="col-sm-4 text-center">
                    <tr>
                    <td> {{ menumakan.name }} </td>
                    <td> {{ menumakan.price }} </td>
                    <td> <img style="width: 300px" class="images"src="{{ menumakan.image.url }}"> </td>
                    <td>{{ menumakan.form_field }}</td>
                    </tr>
                </div>
                {% endfor %}
        </tbody>
    </table>
    <div class = 'col-md-12'>
        <div class = "w-100 d-flex justify-content-center form-group">
            <button class="btn btn-primary" type="submit" >Pesan</button>
        </div>
    </div>
    </form>
    {% else %}
    <div class="no-menu margin-small">
        <h2>There's no menu yet</h2>
    </div>
    {% endif %}
</div>
{% endblock %}