<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>{{ title }}</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel = "stylesheet" href="{% static 'css/base.css' %}"> 
    
    {% block css %}
    {% endblock css %}
    
	<style>
		@font-face {
		    font-family: 'Kayak Sans';
		    src: url('{% static 'fonts/Kayak Sans Regular.otf' %} format("opentype")');
		}
		
		@font-face {
		    font-family: 'Kayak Sans';
		    font-weight: bold;
		    src: url('{% static 'fonts/Kayak Sans Bold.otf' %} format("opentype")');
		}

		@font-face {
		    font-family: 'Kayak Sans';
		    font-weight: lighter;
		    src: url('{% static 'fonts/Kayak Sans Light.otf' %} format("opentype")');
		}
	</style>
    
    <!-- {% if home_page %} -->
    <script type="text/javascript"> 
        $(window).load(function() { 
            $(".carousel .item").each(function() { 
                var i = $(this).next(); 
                i.length || (i = $(this).siblings(":first")), 
                  i.children(":first-child").clone().appendTo($(this)); 
                
                for (var n = 0; n < 4; n++)(i = i.next()).length || 
                  (i = $(this).siblings(":first")), 
                  i.children(":first-child").clone().appendTo($(this)) 
            }) 
        }); 
    </script> 
    <!-- {% endif %} -->
    
    
</head>
<body style="height: 100vh; background-color: white; font-family: Kayak Sans">
    <div class="bs-example">
        <nav class="navbar navbar-expand-sm navbar-light bg-white fixed-top">
              <a class="navbar-brand" href="{% url 'homepage:home' %}">
                 <img src="{% static 'images/makanyu logo.png' %}" height="100px">
                </a>
                 
            
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
                 
            {% block nav %}
              <div class="collapse navbar-collapse" id="navbarNav">
                <div class="navbar-nav ml-auto">
                    <a href="#" class="nav-item nav-link">Masuk</a>
                    <button type="button" class="btn btn-primary"> Daftar </button>
                </div>
              </div>
            {% endblock nav %}
            
        </nav>
    </div>
    
    <div style="padding-top: 100px">
	{% block content %}
		<div style="text-align: center; position: relative; top: 36%; color: white;">
			<h1 style="font-size: 75px; margin: auto;">
				COMING SOON
			</h1>
			<h1 style="font-size: 50px; margin: auto; font-family: 'Kayak Sans'; font-weight: lighter;">
				Makanyu
			</h1>
		</div>
	{% endblock content %}
    </div>
    	
</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {% block script %}
    {% endblock script %}
    
</html>
